<% include ../partials/header %>

    <div class="p-2 shadow" id="ck-frame">
        <div class="p-2 pl-4 pr-4 shadow-sm" id="ck-frame-matte">
            <div class="row">
                <div class="col-3">
                    <img class="w-100 shadow position-relative" src="<%=JSON.parse(review.omdbInfo).Poster%>" alt="">
                    <ul class="list-group list-group-flush shadow mb-2 position-relative bgc-lg">
                        <li class="list-group-item font-weight-bold bgc-dg tc-w p-2">Director</li>
                        <li class="list-group-item p-2">
                            <%= JSON.parse(review.omdbInfo).Director %>
                        </li>
                        <li class="list-group-item font-weight-bold bgc-dg tc-w p-2">Writer</li>
                        <li class="list-group-item p-2">
                            <%= JSON.parse(review.omdbInfo).Writer %>
                        </li>
                        <li class="list-group-item font-weight-bold bgc-dg tc-w p-2">Cast</li>
                        <li class="list-group-item p-2">
                            <%= JSON.parse(review.omdbInfo).Actors %>
                        </li>
                    </ul>
                    <ul class="list-group list-group-flush shadow position-relative bgc-lg">
                        <li class="list-group-item font-weight-bold bgc-dg tc-w p-2">Ratings</li>
                        <li class="list-group-item bgc-g p-2">
                            <%= JSON.parse(review.omdbInfo).Ratings[0].Source %>
                        </li>
                        <li class="list-group-item p-2">
                            <%= JSON.parse(review.omdbInfo).Ratings[0].Value %>
                        </li>
                        <li class="list-group-item bgc-g p-2">
                            <%= JSON.parse(review.omdbInfo).Ratings[1].Source %>
                        </li>
                        <li class="list-group-item p-2">
                            <%= JSON.parse(review.omdbInfo).Ratings[1].Value %>
                        </li>
                        <li class="list-group-item bgc-g p-2">
                            <%= JSON.parse(review.omdbInfo).Ratings[2].Source %>
                        </li>
                        <li class="list-group-item p-2">
                            <%= JSON.parse(review.omdbInfo).Ratings[2].Value %>
                        </li>
                    </ul>

                </div>
                <div class="col-9 mt-4">
                    <div class="mb-5">
                        <h4>
                            <%= JSON.parse(review.omdbInfo).Title %> -
                                <%= JSON.parse(review.omdbInfo).Year %>
                        </h4>
                        <p class="mt-4">
                            <%= review.reviewText %>
                        </p>
                        <p>
                            <em>Submitted By
                                <%= review.author.username %>
                            </em>
                        </p>
                    </div>
                    <div>
                        <h4>Other Reviews</h4>
                        <div id="wallDynamic"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <% include ../partials/footer %>